﻿<p>Use the accordian list to the left to load a lesson.</p>
<p>Only Jan 6: Lesson 1 will load.</p>
<p>Jan 7: Lesson 2 is clickable, but shows what happens when a lesson plan isn't available to view.</p>
<p>All dates and lesson titles have been prepared for all months in the accordian, however all links less the two mentioned above, are dead links.</p>
<p>The buttons by the page title are the lesson plan interaction buttons. All work, and have tooltips display when the mouse hovers over them, describing what they do</p>
<p>Clicking on a lesson saves that action to your "lesson browsing history." Basically, a cookie is saved showing what lesson you viewed last, so it's restored when you navigate back to this page.</p>
<p>The accordian is also updated with the lesson browsing history, keeping open the month you last had open. Using the clear button will erase that history and reset it back to opening January</p>
<h3 class="text-danger"><strong>Warning! JavaScript is required to use this site!</strong></h3>
