﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <title>Mr. Landry's Website &bull; @ViewBag.Title</title>
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="navbar-inner">
                <div class="container">
                    @Html.ActionLink("Mr. Landry's Website", "Index", "Home", new { area = "" },
                        new { @class = "navbar-brand" })
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Mobile Menu</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
                            @{
                                var menu = new LandrySite.Fragments.MenuFragment(Server.MapPath("~/Templates/mainmenu.templ"));
                            }
                            @menu.getFragment()
                        </ul>
                    </nav>
                </div>
            </div>
        </nav>
        <div class="pageContent">
            @RenderBody()
        </div>
        <div class="footer">
            <div class="container">
                <div class="footer_text">
                    Site &copy; @DateTime.Now.Year <span class="date"></span> <a href="http://kalebklein.com" target="_blank">Kaleb Klein</a>. | <a href="http://validator.w3.org/check?uri=referer" target="_blank">Valid HTML5</a>
                </div>
            </div>
        </div>
        @Scripts.RenderFormat(@"<script src=""{0}"" async></script>", "~/Content/js")
    </body>
</html>