﻿<style type="text/css">
    [data-notify="progressbar"]
    {
        margin-bottom: 0px;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 10px;
		padding: 0;
		border-radius: 0 0 5px 5px;
    }
    [role="alert"]
    {
        border-radius: 10px;
		box-shadow: 0 0 10px -2px #000;
    }
</style>
@* 
    This loads in the overall course content. It's also responsible
    for handling whether or not to show off the months accordian
*@
@{
    var name = ViewBag.Title;
    var home = new LandrySite.Fragments.LessonFragment(Server.MapPath("~/Courses/" + name.ToLower().Replace(' ', '-') + "/index.html"));

    IHtmlString content = null;
    bool empty = false;

    if (home.getHomePage() == null)
    {
        home.load(Server.MapPath("~/Courses/course404.html"));
        empty = true;
    }
    content = home.getHomePage();
}
<div class="container">
    <div class="row">
        @* Month accordian list *@
        @{
            var navMenu = new LandrySite.Fragments.NavbarFragment(Server.MapPath("~/Templates/navmenu.templ"));
            IHtmlString menuString = (!empty) ? navMenu.getFragment() : null;
        }
        @menuString
        <div class="col-sm-9">
            <h2>
                @ViewBag.Title
                |
                <button type="button" id="refresh" class="btn btn-default btn-round" data-toggle="tooltip" data-placement="bottom" title="Refresh the page">
                    <span class="glyphicon glyphicon-refresh" id="icon-refresh"></span>
                </button>
                <button type="button" id="clear" class="btn btn-default btn-round" data-toggle="tooltip" data-placement="bottom" title="Clear lesson browsing history">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <a href="/" class="btn btn-default btn-round" data-toggle="tooltip" data-placement="bottom" title="Return Home">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </h2>
            <hr />
            <div id="lesson">
                @content
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labeledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Lesson Browsing History</h4>
            </div>
            <div class="modal-body">
                <p>You've cleared your lesson browsing history. This only affects this page, and nothing else. If you view another lesson, that will be saved for you to view the next time you load this page.</p>
                <br><br>
                <input type="checkbox" id="no-show"> <label for="no-show">Do not show this message again.</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="alert-modal-close">Close</button>
            </div>
        </div>
    </div>
</div>
