﻿@{
    ViewBag.Title = "Home";
}
<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <h2>Welcome!</h2>
            <p>Welcome to my website. Use the links to the left to view the information for that particular course or item. </p>
            <p>I like to facilitate open communication and dialog with parents and students. If you would like to contact me, click the link on the left or  send it to the following address: <a href="mailto:rlandry@oconeeschools.org">rlandry@oconeeschools.org</a>.</p>
            <p>If you are a teacher from another school, please feel free to contact me about lessons and activities. Note that the older course links are now at the bottom left panel.</p>
            <p><strong>Interesting facts for students and parents to consider:</strong></p>
            <p>Did you know the most popular degree in college is Business? – According to the <a href="http://www.princetonreview.com/college/top-ten-majors.aspx" target="_blank">Princeton Review</a> and the <a href="http://www.campusgrotto.com/most-popular-college-majors.html">Campus Grotto</a>, Business Administration and Management is the most popular selected major. Business programs include courses of study in accounting, economics and finance. We offer a set of pathways to prepare students for both college studies and entry level occupations in these fields.</p>
            <p><strong>Get your career jump started while in high school!</strong></p>
            <hr>
            <p class="center"><strong>Program Pathways: Business</strong></p>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">
                            Financial Services
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Courses</td>
                        <td>
                            <ul>
                                <li>Intro to Business &amp; Technology</li>
                                <li>Financial Literacy</li>
                                <li>Banking, Investing, and Insurance</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Occupations</td>
                        <td>
                            <ul>
                                <li>Claims Adjusters, Examiners, &amp; Investigators</li>
                                <li>Claims Examiners, Property &amp; Casualty Insurers</li>
                                <li>Insurance Appraisers, Auto Damage</li>
                                <li>Insurance Sales Agents</li>
                                <li>Insurrance Underwriters</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">
                            Business Accounting
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Courses</td>
                        <td>
                            <ul>
                                <li>Intro to Business & Technology</li>
                                <li>Financial Literacy</li>
                                <li>Accounting I</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Occupations</td>
                        <td>
                            <ul>
                                <li>Accountants</li>
                                <li>Auditors</li>
                                <li>Bookkeeping, Accounting &amp; Auditing Clerks</li>
                                <li>Bill &amp; Account Collectors</li>
                                <li>Budget Analysts</li>
                                <li>Financial Analysts</li>
                                <li>Purchasing Managers</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">
                            Advanced Accounting
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Courses</td>
                        <td>
                            <ul>
                                <li>Intro to Business &amp; Technology</li>
                                <li>Accounting I</li>
                                <li>Accounting II</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Occupations</td>
                        <td>
                            <ul>
                                <li>Cost Estimators</li>
                                <li>Tax Preparers</li>
                                <li>Credit Analysts</li>
                                <li>Personal Financial Advisors</li>
                                <li>Economists</li>
                                <li>Tax Examiners and Collectors</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <p class="text-center">Below is a short list of careers on the Georgia Department of Labor list of <a href="http://explorer.dol.state.ga.us/mis/current/hot_careers_current.pdf" target="_blank">Georgia Hot 100 Careers to 2020</a>.</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Careers</th>
                        <th>2012 Average Salary</th>
                        <th>Annual Openings</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Accounts and Auditors</td>
                        <td>71,500</td>
                        <td>1190</td>
                    </tr>
                    <tr>
                        <td>Cost Estimators</td>
                        <td>57,300</td>
                        <td>210</td>
                    </tr>
                    <tr>
                        <td>Financial Analysts</td>
                        <td>78,000</td>
                        <td>250</td>
                    </tr>
                    <tr>
                        <td>Personal Financial Advisors</td>
                        <td>97,000</td>
                        <td>150</td>
                    </tr>
                    <tr>
                        <td>Load Officers</td>
                        <td>72,100</td>
                        <td>300</td>
                    </tr>
                    <tr>
                        <td>Tax Preparers</td>
                        <td>44,600</td>
                        <td>160</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img src="assets/images/landry.jpg">
                </div>
                <div class="panel-footer">
                    <a href="mailto:rlandry@oconeeschools.org" data-toggle="tooltip" data-placement="top" title="Send me an Email">Mr. Landry</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labeledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Site Information</h4>
            </div>
            <div class="modal-body">
                <p>This is just a simple template of the site.</p>
                <p>The site is build 80% JavaScript, 10% Custom Templating Engine, and 10% HTML/PHP.</p>
                <p>All the links in the navbar at the top work. The only course with any content is IBT. The other links still work, but no content has been created with them.</p>
                <p>Under IBT, All lessons for all months are up. IBT is the only course with any content.</p>
                <hr>
                <p>A page has been created showing all the supported templating tags and demonstrations of them. <a href="template">Click here</a> to visit the page now.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>